* {
    box-sizing: border-box;
}

body {
    font-family: 'Shantell Sans', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    width: 70vw;
    border-radius: 12px;
    border-width: 7px;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(188, 48, 155, 0.61), rgb(10, 224, 156)) 1;
    background: linear-gradient(to right, rgba(18, 227, 192, 0.5), rgba(188, 48, 155, 0.61));
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 18px;
    cursor: pointer;
    flex: 0.5;
    margin: 15px;
    position: relative;
    transition: flex 1s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 40%;
    margin: 0px;
    opacity: 0;
    color: #fff;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    text-decoration: underline;
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width:600px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(5),
    .panel:nth-of-type(6),
    .panel:nth-of-type(7),
    .panel:nth-of-type(8) {
        display: none;
    }
}